@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;700&family=Vujahday+Script&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
.my-button{
    background-color: #ebdde673;
    
     width: 75%;
 }
 
 .list{
     border-radius: 20px;
     height: 480px;
      
 }
 .list li{
     list-style: none;
 }
 
 .margin-top{
     margin-top: 100px;
 }
 
 
 .my-button2{
     margin-top: 100px;
   
    
 }
 .hot{
     left: 200px;
     top: -12px;
 }
 
 
 .frequently-asked-q{
     margin-top: 100px;
     margin-bottom: 100px;
 }
 .my-question{
     margin-bottom: 100px; 
 }
 .my-toast{
    top: 50px;
    left: 880px;
    border-left: 10px solid #3F87F5;
 }
 .option-close{
     left: 295px;
 }
 
 
/* only mobile device responsive */
@media only screen and (max-width: 688px) {
   
    .image{
        width: 100%;
        height: 250px;
        
    }
    .image-title h5{
        font-size: 16px;
       
    }
    .image-title p, a{
        font-size: 14px;
     }
     .my-toast{
         top: 60px;
        left: 0;
     }
     .option-close{
        left: 250px;
    }

 .our-social{
     flex-direction:column;
     align-items: center;
     
 }

 .our-social a{
     font-size: 50px;
     
 }
 footer .my-footer{
     display: flex;
     flex-direction: column;
     height: 200px;
     justify-content: center;
     align-items: center;
    
 }
     
} 
/* mobile device responsive end */

